#map { height: 360px; }
h1,p {
    color: cornsilk;
}
div {
    display: flex;
    justify-content: center;
}
#column {
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#logo {
    width: 60%;
    height: auto;
    position: absolute;
    top: -40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;

}